Разбейте выборку на тренировочную и тестовую в соотношении 80/20

In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

Создание x и y множеств. Удалим имена пассажиров, так они вряд ли влюяют на что-то и категоризируем пол пассажиров.

In [9]:
from sklearn.preprocessing import LabelEncoder

X = df.drop('Survived', axis = 1).drop('Name', axis = 1)
#enc = c()
X['Sex'] = LabelEncoder().fit_transform(X['Sex'])

Y = df['Survived']
print("passagires data")
print(X.head())
print("Is survived?")
print(Y.head())

passagires data
   Pclass  Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
0       3    1  22.0                        1                        0
1       1    0  38.0                        1                        0
2       3    0  26.0                        0                        0
3       1    0  35.0                        1                        0
4       3    1  35.0                        0                        0

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500
Is survived?
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Разделим данные на обучающую и тестовую выборку 80/20

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

Построим модель машинного обучения выживаемости.

In [11]:
from sklearn.ensemble import RandomForestClassifier 

rf = RandomForestClassifier(n_estimators=50)
model = rf.fit(x_train, y_train)
print("Тренировочная выборка")
print(model.score(x_train, y_train))

print("Тестовая выборка")
print(model.score(x_test, y_test))

Тренировочная выборка
0.9802538787023978
Тестовая выборка
0.8033707865168539

Оценим переобучение модели

In [15]:
from sklearn.model_selection import cross_val_score
rf = RandomForestClassifier(n_estimators=50)
model = rf.fit(x_train, y_train)
sc = cross_val_score(model, X, Y, cv = 10)
print(f"Коэфф R2: {sc.mean()}, стандартное отклонение: {sc.std()}")

Коэфф R2: 0.8151685393258428, стандартное отклонение: 0.050421805818355515